<h1 align="center">記事一覧</h1>
  <div align="center">
    <%= will_paginate %>
  </div>
    <%= render "article", obj: @articles %>
  <div class="col-sm-offset-2 col-sm-10">
    <%= link_to "新規投稿", new_article_path %>
  </div>
  <div align="center">
    <%= will_paginate %>
  </div>


